<template>
  <div class="card">
    <div v-if="hasHeaderBar" class="card-header">

      <div v-show="pageLimit" class="float-right">
        <b-form-select v-model="per_page" :options="pageLimitList" v-on:change="refresh">
        </b-form-select>
      </div>
      <div v-show="savePos" class="float-right">
        <div class="links-field">
          <label>{{$t('general.save_pos')}}: </label>
          <!-- eslint-disable vue/no-v-html -->
          <span v-for="(link, i) in savePosList" :key="i" @click="updateSavePos(link.value)" v-html="link.label"></span>
          <!--eslint-enable-->
        </div>
      </div>

      <div v-show="selected.length" class="float-right">
        <span class="notify">{{ strings.table.selected.replace('{count}', selected.length) }}</span>
        <b-dropdown variant="light" right text="Actions">
          <b-dropdown-item
            v-for="(action, index) in buildBulkActions()"
            :key="index"
            @click.prevent="action.handler(selected)"
          >
            {{ action.label }}
          </b-dropdown-item>
        </b-dropdown>
      </div>
      <admin-search-form
        v-if="searchFields"
        :search-fields="searchFields"
        :search-data="searchData"
        @submit="onSearchHandler"
      />
    </div>
    <div class="table-responsive">
      <b-table
        ref="table"
        :fields="fields"
        :items="itemsProvider"
        v-model="itemsLoaded"
        :sort-by="sortBy"
        :sort-desc="sortDesc"
        :filter="filter"
        :per-page="perPage"
        :current-page="page"
        no-sort-reset
        show-empty
        small
      >
        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>{{$t('general.loading')}}...</strong>
          </div>
        </template>
        <template #table-colgroup="scope">
          <slot name="table-colgroup" />
        </template>
        <template #head(_checkbox)="row">
          <input
            :checked="isAllSelected"
            type="checkbox"
            @click.stop
            @change="onSelectAll"
          />
        </template>

        <template v-for="(column, key) in columns" v-slot:[gomycell(`HEAD_`+key)]="row">
          <div :key="key">
            {{ column.label || key }}
          </div>
        </template>
        <template #cell(_checkbox)="item">
          <input v-model="selected" :value="item.item.id" type="checkbox" />
        </template>

        <template v-for="column in columns" v-slot:[gomycell(column.key)]="item">
          <component
            v-if="column.component"
            :key="column.key"
            :is="column.component"
            :attribute="column.key"
            :config="column.config"
            :item="item.item"
          />
          <div v-if="!column.component" :key="column.key">
            <slot :name="column.key" :column="column" :item="item.item">
              {{ $refs.table.getFormattedValue(item.item, column) }}
            </slot>
          </div>
        </template>
        <template #cell(_actions)="item">
          <template v-for="(action, key) in buildRowActions(item.item)">
            <template v-if="action.type === 'link'">
              <a
                :key="key"
                :variant="action.variant"
                :class="action.class || 'btn ml-1 btn-'+action.variant+' btn-secondary btn-sm'"
                :href="action.link || '#'"
              >
                {{ action.label }}
              </a>
            </template>
            <template v-else>
              <b-button
                :key="key"
                :variant="action.variant"
                size="sm"
                :data-title="action.label"
                class="ml-1"
                :class="action.label ? action.label.replace(/\s+/g, '').toLowerCase() : ''"
                @click="action.handler"
                v-html="action.html || action.label"
              >
              </b-button>
            </template>
          </template>
          <slot :item="item.item" name="actions" />
        </template>
        <template #cell(row-details)="row">
          <slot v-bind="row" name="row-details" />
        </template>
      </b-table>
    </div>
    <div class="card-footer flex justify-between items-center">
      <b-pagination
        v-if="pagination"
        v-model="page"
        :limit="10"
        :total-rows="total"
        :per-page="per_page"
      />
      <div class="total-records">
        {{ strings.table.total_records.replace('{count}', '') }} <span>{{total}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import get from 'lodash-es/get'
import map from 'lodash-es/map'
import intersection from 'lodash-es/intersection'
import AdminSearchForm from './AdminSearchForm.vue'
import AdminApi from '../plugins/api'
import strings from '../strings'

function value(prop, ...args) {
  if (typeof prop === 'function') {
    return prop.apply(this, args)
  }

  return prop
}

export default {
  name: 'AdminTable',

  components: {
    AdminSearchForm,
  },

  props: {
    columns: {
      type: Array,
      default: () => [],
    },
    items: {
      type: Array,
      default: null,
    },
    base: {
      type: String,
    },
    apiBuilder: {
      type: Function,
      default: function() {
        return new AdminApi(this.base || '')
      },
    },
    beforeApiRequest: {
      type: Function,
      default: () => {},
    },
    sortBy: {
      type: String,
    },
    sortDesc: {
      type: Boolean,
      default: false,
    },
    pagination: {
      type: Boolean,
      default: true,
    },
    perPage: {
      type: Number,
      default: 10,
    },
    pageLimit: {
      type: Boolean,
      default: false,
    },
    savePos: {
      type: String,
      default: '',
    },
    pageLimitList: {
      type: Array,
      default: () => {
        return [
          {
            text: strings.table.per_page,
            value: 10
          },
          {
            text: "20",
            value: 20
          },
          {
            text: "50",
            value: 50
          },
          {
            text: "100",
            value: 100
          },
          {
            text: "500",
            value: 500
          }
        ]
      },
    },
    savePosList: {
      type: Array,
      default: () => {
        return [
          {
            label: '<i class="fa fa-long-arrow-down"></i>A-Z',
            value: "asc"
          },
          {
            label: '<i class="fa fa-long-arrow-up"></i>Z-A',
            value: "desc"
          }
        ]
      }
    },
    rowActions: {
      type: [Array, Function],
      default: () => ['edit', 'delete'],
    },
    onEditItem: {
      type: Function,
    },
    onDetailsItem: {
      type: Function,
    },
    onDeleteItem: {
      type: Function,
    },
    bulkActions: {
      type: [Array, Function],
      default: () => ['delete'],
    },
    onBulkDelete: {
      type: Function,
    },
    searchFields: {
      type: Array,
      default: () => {
        return [
          {
            attribute: 'query',
            component: 'text-field',
            type: 'search',
            get placeholder() {
              return strings.table.search
            },
          },
        ]
      },
    },
    searchData: {
      type: Object,
      default: () => {
        return {
          perPage: null,
          query: null,
        }
      },
    },
    onSearch: {
      type: Function,
      default: function(params, $vm) {
        $vm.params = params
        $vm.reset()
      },
    },
  },

  data() {
    return {
      config: {},
      api: null,
      itemsLoaded: [],
      selected: [],
      total: 0,
      page: 1,
      filter: null,
      params: this.searchData,
      editing: null,
      per_page: null,
      save_pos: null
    }
  },

  computed: {
    fields() {
      const fields = []
      if (this.hasBulkActions) {
        fields.push({
          key: '_checkbox',
          label: '',
          sortable: false,
        })
      }

      this.columns.forEach(column => {
        fields.push(column)
      })

      fields.push({
        key: '_actions',
        label: '',
        tdAttr: {
          nowrap: 'nowrap',
          width: '1%',
        },
      })

      return fields
    },
    hasBulkActions() {
      return value.call(this, this.bulkActions).length > 0
    },
    hasHeaderBar() {
      return (
        this.hasBulkActions || (this.searchFields && this.searchFields.length)
      )
    },
    isAllSelected() {
      if (!this.itemsLoaded.length) {
        return false
      }

      const selected = intersection(this.selected, map(this.itemsLoaded, 'id'))

      return selected.length === this.itemsLoaded.length
    },
    strings() {
      return strings
    },
  },

  created() {
    this.initApi();
    this.per_page = this.perPage;
    this.pageLimitList[0].value = this.perPage;
  },

  methods: {
    gomycell(key) {
      return `cell(${key})`; // simple string interpolation
    },
    initApi() {
      this.api = this.apiBuilder()
    },

    updateSavePos(val) {
      this.save_pos = `${this.savePos}=${val}`;
      this.refresh()
    },
    refresh() {
      this.$refs.table.refresh()
    },

    defaultFilters() {
      let temp = this.searchFields;
      this.searchFields = [];
      if(this.pageLimit){
        this.searchFields.push({
          component: "relation-field",
          attribute: "perPage",
          placeholder: this.$t("general.per_page"),
          ajax: false,
          searchable: false,
          options: [

          ]
        })
      }
      if(this.savePos !== ''){
        this.searchFields.push({
          component: "links-field",
          attribute: "savePos",
          value: this.savePos,
          label: this.$t("general.save_pos"),
          ajax: false,
          searchable: false,
          options: []
        })
      }
      this.searchFields = this.searchFields.temp;
    },
    reset() {
      this.initApi()
      if (this.page !== 1) {
        this.page = 1
      } else {
        this.$nextTick(() => {
          this.refresh()
        })
      }
    },

    itemsProvider(ctx) {
      if (this.items) {
        return this.items
      }
      this.initApi();
      if(this.save_pos) this.api.setParameter('save_pos', this.save_pos)
      if(!this.per_page) this.api.setParameter('per_page', ctx.perPage)
      else{
        this.api.setParameter('per_page', this.per_page);
      }
      this.api.setParameters(this.params)
      this.api.setParameter('page', ctx.currentPage)

      if (ctx.sortBy) {
        this.api.setParameter('sort', {
          [ctx.sortBy]: ctx.sortDesc ? 'desc' : 'asc',
        })
      } else {
        this.api.removeParameter('sort')
      }
      this.beforeApiRequest(this.api, ctx)

      return this.api
        .all()
        .then(result => {
          this.total = get(result, 'meta.total', result.data.length)
          this.$emit('api-result', result)
          this.save_pos = null;
          return result.data
        })
        .catch(() => [])
    },

    buildRowActions(item) {
      const actions = []

      value.call(this, this.rowActions, item).forEach(action => {
        if (action === 'edit') {
          actions.push({
            label: this.strings.table.action_edit,
            handler: () => {
              this.onEditItem
                ? this.onEditItem(item)
                : this.defaultOnEditItem(item)
            },
          })
        } else if (action === 'details') {
          actions.push({
            label: this.strings.table.action_details,
            variant: 'light',
            handler: () => {
              this.onDetailsItem
                ? this.onDetailsItem(item)
                : this.defaultOnDetailsItem(item)
            },
          })
        } else if (action === 'delete') {
          actions.push({
            label: this.strings.table.action_delete,
            variant: 'danger',
            handler: () => {
              this.onDeleteItem
                ? this.onDeleteItem(item)
                : this.defaultOnDeleteItem(item)
            },
          })
        } else {
          actions.push(action)
        }
      })

      return actions
    },

    onSelectItem(item) {
      const { id } = item
      if (this.selected.indexOf(id) === -1) {
        this.selected.push(id)
      } else {
        this.selected.splice(this.selected.indexOf(id), 1)
      }
    },

    buildBulkActions() {
      const actions = []

      value.call(this, this.bulkActions).forEach(action => {
        if (action === 'delete') {
          actions.push({
            label: this.strings.table.action_delete_selected,
            variant: 'danger',
            handler: selected => {
              this.onBulkDelete
                ? this.onBulkDelete(selected)
                : this.defaultOnBulkDelete(selected)
            },
          })
        } else {
          actions.push(action)
        }
      })

      return actions
    },

    onSelectAll() {
      if (this.isAllSelected) {
        this.itemsLoaded.forEach(item => {
          const { id } = item
          if (this.selected.indexOf(id) !== -1) {
            this.selected.splice(this.selected.indexOf(id), 1)
          }
        })
        return
      }

      this.itemsLoaded.forEach(item => {
        const { id } = item
        if (this.selected.indexOf(id) === -1) {
          this.selected.push(id)
        }
      })
    },

    onSearchHandler(params) {
      this.onSearch(params, this)
    },

    defaultOnEditItem(item) {
      this.$router.push({
        name: `${this.base}.edit`,
        params: {
          id: item.id,
        },
      })
    },

    defaultOnDetailsItem(item) {
      this.$set(item, '_showDetails', true)
    },

    defaultOnDeleteItem(item) {
      this.$alert
        .question(
          this.strings.table.delete_confirmation_title,
          this.strings.table.delete_confirmation,
          {
            showCancelButton: true,
          },
        )
        .then(result => {
          if (!result.value) {
            return
          }
          this.apiBuilder()
            .destroy(item.id)
            .then(() => {
              this.refresh()
            })
        })
    },

    defaultOnBulkDelete(selected) {
      this.$alert
        .question(
          this.strings.table.delete_confirmation_title,
          this.strings.table.delete_selected_confirmation,
          {
            showCancelButton: true,
          },
        )
        .then(result => {
          if (!result.value) {
            return
          }

          this.apiBuilder()
            .bulkDestroy(selected)
            .then(() => {
              this.selected = []
              this.refresh()
            })
        })
    },
  },
}
</script>
<style>
  .links-field{
    padding: 7px 0;
  }
  .links-field span {
    cursor: pointer;
    color: #2196F3;
    padding: 0 5px;
  }
  .links-field span i {
    margin-right: 3px;
  }
  .links-field label {
    float: left;
  }
</style>
