<template>
  <div class="card card-sidebar-mobile">
    <template v-for="(items, header) in sortedMenu">
      <ul class="nav nav-sidebar" data-nav-type="accordion" :key="header">
        <li v-if="header" :key="header" class="nav-item-header">
          <div class="text-uppercase font-size-xs line-height-xs">
            {{ header }}
          </div>
          <i class="icon-menu font-size-xs" :title="header"></i>
        </li>
        <sidebar-menu-item
          v-for="(item, index) in items"
          :key="`${header}${index}`"
          :item="item"
          @onToggle="onToggle(index, item.id)"
        />
      </ul>
    </template>
  </div>
</template>

<script>
import groupBy from 'lodash-es/groupBy'
import sortBy from 'lodash-es/sortBy'
import SidebarMenuItem from './sidebar-menu-item'

export default {
  data() {
    return {
      sidebarMenu: this.menu,
    }
  },
  name: 'SidebarMenu',
  components: { SidebarMenuItem },
  props: {
    menu: {
      type: Array,
      default() {
        return []
      },
    },
  },
  beforeMount() {
    this.menu.map(function(el, i) {
      el.id = el.id + i
    })
  },
  computed: {
    sortedMenu() {
      return groupBy(sortBy(this.sidebarMenu, ['order']), item => {
        let header =
          typeof item.header === 'function' ? item.header(this) : item.header
        return header || ''
      })
    },
  },
  watch: {
    menu: {
      handler(menu) {
        this.sidebarMenu = menu
      },
    },
  },
  methods: {
    onToggle(index, itemid) {
      this.sidebarMenu.map(function(el) {
        if (el.id !== itemid) {
          el.isOpen = false
        }
      })
    },
  },
}
</script>
